@import 'vendor/casper';
@import 'syntax';

// Overwrite some styles from casper.css
pre.highlight {
  word-wrap: normal;
  code {
    white-space: pre;
  }
}
.page-title{
  a{
    text-decoration: none;
  }
}

.search{
  .st-default-search-input{
      
    width: 70%;
  }
  padding: 90px 9% 5%;
}



// Overwrite some styles from casper.css
pre {
  background: transparent;
  border-style: none;
  padding: initial;
}
