@import 'vendor/casper';
@import 'syntax';

// Overwrite some styles from casper.css
pre.highlight {
  word-wrap: normal;
  code {
    white-space: pre;
  }
}
.page-title{
  a{
    text-decoration: none;
  }
}



// Overwrite some styles from casper.css
pre {
  background: transparent;
  border-style: none;
  padding: initial;
}
