%footer.site-footer.clearfix
  %section.copyright
    =link_to "the cook", home_path
    , 
    = link_to "the dev", "http://fabbook.fr"
    ,
    = link_to "the fighter", "http://fabfight.com"
    and
    = link_to "the photographer", "http://fabphoto.fr"
    &copy;
    = Time.now.year
